@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

@import url("reset.css");


a {
    text-decoration: none;
}

body {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}
  
.bot-rotate-y:hover {
    animation: rotateY 2s linear infinite;
  }

.bot-rotate-x:hover {
    transform: rotateX(360deg);
    transition: transform 3s ease-in-out;
    animation-iteration-count: infinite;
}

.bot-jump:hover {
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bot-float {
    animation-name: float;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    margin-bottom: 50px;
}

.bots {
    display: flex;
    align-items: baseline;
    margin-top: -125px;
}

.blue-button {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
    background-color: #1F80FF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin-left: 618px;
}
 
@keyframes float {
    0% {transform: translateY(0px);}
    25% {transform: translateY(20px);}
    50% {transform: translateY(-10px);}
    75% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}

@keyframes jump {
    0% {transform: translateY(0);}
    30% {transform: translateY(-30px); }
    50% { transform: translateY(0);}
    70% {transform: translateY(-15px);}
    100% {transform: translateY(0);}
}

@keyframes rotateY {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
  }


h2 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 32px;
    color: #010058;
    text-decoration: none;
    padding-top: 350px;
    margin-bottom: 39px;
    margin-left: 487px;
}

li {
    list-style: none;
}

.logo {
    margin-top: 28px;
    margin-bottom: 28px;
}

.left-bots {
    width: 513px;
    display: flex;
    align-items: baseline;
}


main {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    height:1024px;
    width: 1440px;
    margin-top: -21px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: #1F80FF;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.right-bots {
    width: 416px;
    display: flex;
    margin-left: 250px;
    align-items: baseline;
}

.right-nav {
    display: flex;
    align-content: center;
}

.right-nav li {
    align-content: center;
    margin-right: 47px;
}


.white-button{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #1F80FF;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    height: 60px;
    margin-top: 47px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 700px;
  height: 435px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 2.3rem;
  font-weight: bold;
  color: #000000;
  margin-top:35px;
  margin-left: 35px;
  margin-bottom: 35px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 35px;
}

.modal-body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: flex;
  padding: 10px 15px;
  color: #000000;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-left {
    width: 100px;
    margin-left: 36px;
    margin-top: 63px;
}

.modal-right {
    width: 500px;
    height: 144px;
    padding-left: 100px;
    margin-top: 63px;
}

.modal-button {
    background-color: transparent;
    border: none;
}